<div class="container">
  <aside class="filters">
      <div class="filters--input-group">
        <label class="input-label" class="input-group--label" for="tag_search">Search Tags</label>
        <input type="text" class="input-group--input" name="tag_search" />
      </div>
      <ul class="filters--tag-list">
        <li class="tag-list--item">
          <span class="item--text">PHP</span>
          <span class="item--input">
            <input type="checkbox" />
          </span>
        </li>
      </ul>
    </aside>
    <main class="content">
      <section class="content--list-controls">
        <div class="controls--display-modes">
          <span class="display-modes--label">Display Mode</span>
          <i class="fas fa-th" [ngClass]="{'active' : (contentDisplayMode == 'grid')}" (click)="switchDisplayMode('grid')"></i>
          <i class="fas fa-list" [ngClass]="{'active' : (contentDisplayMode == 'list')}" (click)="switchDisplayMode('list')"></i>
        </div>
      </section>
      <section class="content--list-contents">
        <div [class]="'list-contents--course-card ' + contentDisplayMode" *ngFor="let course of courses">
          <img class="course-card--image" src="https://picsum.photos/500/350" />
          <div class="course-card--content">
            <h2 class="course-card--title">Build a to-do list API with Zend Framework 3</h2>
            <p class="course-card--teaser">In this course we'll be learning our way around Zend Framework 3 and the Doctrine ORM to build a RESTful API.</p>
          </div>
        </div>
        <!-- <div class="list-contents--course-card">
          <img class="course-card--image" src="https://picsum.photos/500/350" />
          <div class="course-card--content">
            <h2 class="course-card--title">Build a to-do list API with Zend Framework 3</h2>
            <p class="course-card--teaser">In this course we'll be learning our way around Zend Framework 3 and the Doctrine ORM to build a RESTful API.</p>
          </div>
        </div>
        <div class="list-contents--course-card">
          <img class="course-card--image" src="https://picsum.photos/500/350" />
          <div class="course-card--content">
            <h2 class="course-card--title">Build a to-do list API with Zend Framework 3</h2>
            <p class="course-card--teaser">In this course we'll be learning our way around Zend Framework 3 and the Doctrine ORM to build a RESTful API.</p>
          </div>
        </div>
        <div class="list-contents--course-card">
          <img class="course-card--image" src="https://picsum.photos/500/350" />
          <div class="course-card--content">
            <h2 class="course-card--title">Build a to-do list API with Zend Framework 3</h2>
            <p class="course-card--teaser">In this course we'll be learning our way around Zend Framework 3 and the Doctrine ORM to build a RESTful API.</p>
          </div>
        </div> -->
      </section>
    </main>
</div>
