// Colors
$purple: #3B54A9;
$green: #3BA967;

$white-1: #FFF; // lighter-backgrounds
$white-2: #EBEBEB; // for borders
$white-3: #FBFBFB; // darker-background

$grey-1: #777;
$grey-2: #666;

// Gradient
$blue-1: rgba(59, 84, 169, 0.75);
// Box shadows
$blue-2: rgba(59, 84, 169, 0.33);
$blue-3: rgba(59,84,169,0.025);
$blue-4: rgba(59,84,169,0.1);


